/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-feb-2020, 12.24.39
    Author     : devis
*/

.navbar-brand {
    display: inline-block;
    text-indent: -9999px;
    width: 160px;
    background: url(../img/pretty-2-th.jpg) center center no-repeat;
}

.navbar-default {
    background-color: #fcfcfc;
}

.navbar-default .navbar-nav > li > a {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
}

.header-sezione {
    border-bottom: 2px solid #357ebd;
    margin-bottom: 2em;
}

.invalid-input {
    color: #bd2626;
    font-weight: bold;
}