.riquadrato{
    border: 2px solid rgb(176, 167, 167);
    border-radius: 12px;
    padding: 5px;
}
.btn.disabled {
    pointer-events: auto;
}
.obbligatorio:after {
    content:"*";
    color: red;
  }