.riquadrato{
    border: 2px solid rgb(176, 167, 167);
    border-radius: 12px;
    padding: 5px;
}

.obbligatorio:after {
    content:"*";
    color: red;
  }

.diasabilitato {
    pointer-events: none;
}

#ScrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none; 
    outline: none; 
    cursor: pointer;
    padding: 15px;
  }

  #ScrollToTop:focus {
    outline: none;
    box-shadow: none;
  }